<div class="container">
    <div class="border">
        <h3>Scholarship Management</h3>
        <hr>
        <form [formGroup]="loginForm" (ngSubmit)="loginCredentials()">
            <div class="form-group">
                <input type="text" placeholder="Enter User Name" formControlName="userName" class="form-control">
                <div *ngIf="isSubmitted && formControls.userName.errors">
                    <div *ngIf="formControls.userName.errors.required">User Name is required</div>

                </div>
            </div>
            <br>
            <div class="form-group">
                <input type="password" placeholder="Enter Password" formControlName="password" class="form-control">
                <div *ngIf="isSubmitted && formControls.password.errors">
                    <div *ngIf="formControls.password.errors.required">Password is required</div>

                </div>
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-lg btn-primary form-control"> Submit
                </button>
            </div>
            <div *ngIf="error" style="color:red;text-align:left">{{error}}

            </div>
        </form>
    </div>

</div>